settings:
  backup: true
variables:
  username: nimit

packages:
  nvim-base:
    description: "Neovim configuration with LazyVim for base"
    files:
      - source: "nvim/base/"
        target: "~/.config/nvim"
  nvim-home:
    description: "Neovim configuration home use"
    depends: ["nvim-base"]
    files:
      - source: "nvim/home"
        target: "~/.config/nvim"

  opencode:
    description: "OpenCode AI assistant configuration"
    files:
      - source: "opencode"
        target: "~/.config/opencode"
        absorb_ignore:
          - ".*node_modules.*"
          - "antigravity-accounts.json"
          - "package.json"
          - "bun.lock"
  hypr:
    description: "Hyprland configs"
    files:
      - source: "hypr"
        target: "~/.config/hypr/"
